<style>
    #image-preview {
        display: block;
        max-width: 300px;
        max-height: 300px;
        width: auto;
        height: auto;
    }

    #image-upload {
        margin-bottom: 10px;
    }

    #form-container {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    #form-container form {
        margin-top: 10px;
    }

    .upload_success {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upload_success img {
        margin-right: 10px;
    }

    button[type="submit"] {
        margin-top: 10px;
    }

    .upload_success {
        display: flex;
        align-items: center;
    }

    .upload_success img.uploaded-image {
        width: 200px; /* Kích thước mong muốn của ảnh */
        height: auto; /* Giữ tỷ lệ khung hình */
        margin-right: 10px;
    }

    .upload-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 20px;
    }

    .upload-result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 20px;
    }

</style>

<div id="form-container">
    <h2>Upload ảnh</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="image-upload" name="file" onchange="previewImage(event)">
        <img id="image-preview" src="#" alt="Preview Image" style="display: none;">
        <button type="submit">Search</button>
    </form>
</div>

<div class="upload_success">
    {% if upload_success %}
        <div class="upload-info">
            <h4>Upload ảnh thành công!</h4>
            <img src="{{ image_url }}" alt="Uploaded Image" width="300vw">
        </div>
        <div class="upload-result">
            {% if score is  none  %}
                <h4>Kết quả so sánh!</h4>
            {% else %}
                <h4>Kết quả so sánh: {{score}} %</h4>
            {% endif %}
            <img src="{{  path_result  }}" alt="Uploaded Image" width="300vw">
        </div>
    {% endif %}
</div>

<script>
    function previewImage(event) {
      var reader = new FileReader();
      var imagePreview = document.getElementById("image-preview");

      reader.onload = function() {
        if (reader.readyState == 2) {
          imagePreview.src = reader.result;
          imagePreview.style.display = "block";
        }
      }
    
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
    }
</script>
